@charset "utf-8";
.tochigi.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.tochigi {
  opacity: 1; /*不透明*/
}

.gunnma.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.gunnma {
  opacity: 1; /*不透明*/
}

.chiba.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.chiba {
  opacity: 1; /*不透明*/
}

.tokyo.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.tokyo {
  opacity: 1; /*不透明*/
}

.kanagawa.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.kanagawa {
  opacity: 1; /*不透明*/
}

.ibaragi.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.ibaragi {
  opacity: 1; /*不透明*/
}

.saitama.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.saitama {
  opacity: 1; /*不透明*/
}




body{
  background-image: url(../img/tokyo.jpg);/*画像ファイルの指定*/
  background-position : center center;/*どんな画面でも天地左右*/
  background-attachment: fixed;/*画像をみっちり入れる*/
  background-size: cover;/*画面の大きさに臨機応変に伸び縮み*/
  /*background-color:black;画像が読み込まれる前のカラー*/
  height: 100%;
}


.all{
  z-index: 100;
  background-color: rgba(255,255,255,0.6);
  height:1200px;
  width: 1300px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}




.split {
  position: absolute;
  width: 50%;
  height: 100%;
}
.left-box {
  left: 0;
}
.right-box {
  right: 0;
  overflow-y: scroll;
}


h1{
  text-align: center;
  position: relative;
  padding: 0.5em;
  background : linear-gradient(to right,
                               red,
                               orange,
                               yellow,
                               green,
                               aqua,
                               blue,
                               purple);
  color: white;
}


h1::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}


.left-box{
  text-align: center;
}

.right-box{
  text-align: center;
}

p{
 font-size:3em;
 text-align:center;
 line-height:0.95em;
 font-weight:bold;
 color: #FFF;
 text-shadow: 0 0 0.3em
 rgba(0,0,0,1);
}

.right-box-u{
  text-align:center;
  font-size:1em;
  line-height:0.95em;
  font-weight:bold;
}

a{
  font-size:2em;
  text-align:center;
  line-height:0.95em;
  font-weight:bold;
  color: #FFF;
  text-shadow: 0 0 0.2em rgba(0,0,0,1);
}
