@charset "utf-8";
.google1.rain {
  opacity: 0; /*完全透明*/
  display: none; /*要素を削除*/
}

.google1 {
  opacity: 1; /*不透明*/
}

body{
  background-image: url(../img/sea.jpeg);/*画像ファイルの指定*/
  background-position : center center;/*どんな画面でも天地左右*/
  background-attachment: fixed;/*画像をみっちり入れる*/
  background-size: cover;/*画面の大きさに臨機応変に伸び縮み*/
  /*background-color:black;画像が読み込まれる前のカラー*/
}


h1{



  
}
